#navbarScroll {
  justify-content: end;
}
.navbar-textColor {
  color: #f6f4eb !important;
}
.after-nav::after {
  content: " ";
  height: 2px;
  background: #f8fae5;
  display: block;
  width: 0%;
}

.after-nav:hover::after {
  width: 100%;
  margin: auto;
  transition: 1s ease;
}

/* background of button  */
.bg-none {
  background: none;
  border: none;
}

/*! animation Navbar Icons  */

.animationHoverNav:hover {
  animation: hoverNav 3s infinite;
  transition: all 1s ease-in-out;
}

@keyframes hoverNav {
  0% {
    rotate: 180deg;
  }

  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}
