.login-card-main {
  width: 100%;
  height: 90svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card-login {
  /* width: 20rem; */
  margin: auto;
  width: 400px;
  padding: 2rem 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  border-radius: 15px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-signup {
  margin: auto;
  width: 400px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  border-radius: 15px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-parent input {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  padding: 0.5rem;
}
.select-signup {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  padding: 0.5rem;
}
